<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427904558385-8gland3bg3qkui1lklt9pr70qdg8dqe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427904558385-8gland3bg3qkui1lklt9pr70qdg8dqe6</string>
	<key>API_KEY</key>
	<string>AIzaSyD8-DBA0RQwMjoYE5C2tIAQAHCh8oIP1QM</string>
	<key>GCM_SENDER_ID</key>
	<string>427904558385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cicimaya.FirestoreExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-a5c18</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-a5c18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427904558385:ios:26ddb83ec3c256dceffc10</string>
</dict>
</plist>